.features {
  background-color: var(--light-grayish-blue);
}

.feature__intro {
  margin-bottom: 3.75rem;
}

.features__grid {
}

/* Media Queries Down */
@media (max-width: 39.9375em) {
}

@media (max-width: 87.4375em) {
}

/* Media Queries Up */
@media (min-width: 39.9375em) {
  .features__grid {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width: 64em) {
  .feature__intro {
    width: 55%;
  }
}

@media (min-width: 87.5em) {
}
