@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --color-very-dark-blue: hsl(226, 43%, 10%);
  --color-dark-blue: hsl(235, 46%, 20%);
  --color-desaturated-blue: hsl(235, 45%, 61%);
  --color-pale-blue: hsl(236, 100%, 87%);

  --color-blue: hsl(246, 80%, 60%);
  --color-red-work: hsl(15, 100%, 70%);
  --color-blue-play: hsl(195, 74%, 62%);
  --color-red-study: hsl(348, 100%, 68%);
  --color-green-exercise: hsl(145, 58%, 55%);
  --color-violet-social: hsl(264, 64%, 52%);
  --color-orange-selfcare: hsl(43, 84%, 65%);

  --font-family: 'Rubik', sans-serif;
  --font-light: 300;
  --font-regular: 400;
  --font-bold: 500;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-family);
  background-color: var(--color-very-dark-blue);
  color: #fff;
}

h1,
h2,
h3 {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
  color: var(--color-pale-blue);
}

small {
  margin: 0;
  color: var(--color-pale-blue);
  font-size: 0.875rem;
  font-weight: var(--font-light);
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  small {
    font-size: 0.8rem;
  }
}
