@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  --primary-color: hsl(180, 29%, 50%);
  --background-color: hsl(180, 52%, 96%);
  --filter-tablets: hsl(180, 31%, 95%);
  --dark-color: hsl(180, 8%, 52%);
  --darkest-color: hsl(180, 14%, 20%);

  --box-shadow: 3px 6px 16px rgba(123, 142, 142, 0.15);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}

h2,
h3 {
  margin: 0;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--darkest-color);
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-color);
}

.container {
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  max-width: 1320px;
  margin: 0 auto;
}
